# =========================
# Spring Boot / Maven
# =========================
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/

# VS Code
.vscode/

# =========================
# Python
# =========================
ai-model/.venv/
ai-model/__pycache__/
*.pyc

# Don't upload trained model yet
*.pkl

# =========================
# Flutter
# =========================
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages

# =========================
# Environment / secrets
# =========================
.env

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
